<ul class="list-single">
    <li ng-click="sourceToAdd(1)" class="border-t">销售获取</li>
    <li ng-click="sourceToAdd(2)" class="border-t">市场活动</li>
    <li ng-click="sourceToAdd(3)" class="border-t">合作渠道</li>
    <li ng-click="sourceToAdd(4)" class="border-t">推广渠道</li>
    <li ng-click="sourceToAdd(5)" class="border-t">公司官网</li>
    <li ng-click="sourceToAdd(6)" class="border-t">公司微信</li>
    <li ng-click="sourceToAdd(7)" class="border-t">在线客服</li>
    <li ng-click="sourceToAdd(8)" class="border-t">产品注册</li>
    <li ng-click="sourceToAdd(9)" class="border-t">独立合伙人</li>
    <li ng-click="sourceToAdd(10)" class="border-t">老板关系</li>
    <li ng-click="sourceToAdd(11)" class="border-t">老客户转介绍</li>
    <li ng-click="sourceToAdd(12)" class="border-t">其他</li>
</ul>