<div class="gray-screen">
    <div class="home-banner mb20">
        <span>CRM内测啦...</span>
    </div>
    <div class="guider-item-group mb20">
        <div class="guider-item border-b" ui-sref="clue">
            <i class="icon-clue"></i>
            <span class="fz18">线索</span>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="guider-item border-b" ng-click="clueCheck()">
            <i class="icon-clue-search"></i>
            <span class="fz18">线索查重</span>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="guider-item"  ui-sref="business">
            <i class="icon-business"></i>
            <span class="fz18">商机</span>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="guider-item hidden" ui-sref="contract">
            <i class="icon-contract"></i>
            <span class="fz18">合同</span>
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
    <div class="guider-item-group mb10">
        <div class="guider-item hidden"  ui-sref="market">
            <i class="icon-market"></i>
            <span class="fz18">市场</span>
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="guider-item"  ui-sref="team">
            <i class="icon-team"></i>
            <span class="fz18">团队</span>
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
    <div class="guider-item-group hidden">
        <div class="guider-item" ui-sref="data">
            <i class="icon-data"></i>
            <span class="fz18">产品资料</span>
            <i class="fa fa-angle-right"></i>
        </div>
    </div>
</div>
