<ul class="list-single mb20">
    <li class="border-t" ng-click="tag(2)">
        <span class="fz16">初步洽谈</span>
        <span ng-if="status == 2" class="fr gray9 mr10">当前状态</span>
        <span class="fr mr10 font-blue1" ng-show="statusIndex == 2"><i class="fa fa-check"></i></span>
    </li>
    <li class="border-t" ng-click="tag(3)">
        <span class="fz16">需求确定</span>
        <span ng-if="status == 3" class="fr gray9 mr10">当前状态</span>
        <span class="fr mr10 font-blue1" ng-show="statusIndex == 3"><i class="fa fa-check"></i></span>
    </li>
    <li class="border-t" ng-click="tag(4)">
        <span class="fz16">方案/报价</span>
        <span ng-if="status == 4" class="fr gray9 mr10">当前状态</span>
        <span class="fr mr10 font-blue1" ng-show="statusIndex == 4"><i class="fa fa-check"></i></span>
    </li>
    <li class="border-t" ng-click="tag(5)">
        <span class="fz16">谈判审批</span>
        <span ng-if="status == 5" class="fr gray9 mr10">当前状态</span>
        <span class="fr mr10 font-blue1" ng-show="statusIndex == 5"><i class="fa fa-check"></i></span>
    </li>
    <li class="border-t" ng-click="tag(6)">
        <span class="fz16">赢单</span>
        <span ng-if="status == 6" class="fr gray9 mr10">当前状态</span>
        <span class="fr mr10 font-blue1" ng-show="statusIndex == 6"><i class="fa fa-check"></i></span>
    </li>
    <li class="border-t" ng-click="tag(-3)">
        <span class="fz16">输单</span>
        <span ng-if="status == -3" class="fr gray9 mr10">当前状态</span>
        <span class="fr mr10 font-blue1" ng-show="statusIndex == -3"><i class="fa fa-check"></i></span>
    </li>
</ul>
<div class="lose-reason ml10 mr10 hidden mb20">
    <textarea name="" id="" cols="30" rows="4" ng-model="loseReason" placeholder="请输入输单理由"></textarea>
</div>
<div class="ml10 mr10">
    <button class="btn btn-lg btn-bg-blue" ng-click="postStatus()">确定</button>
</div>
